/* Body */
body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;

    width: 100vw;
    height: 100vh;
    margin: 0;  
}


/* leftSection Container */
.leftSection {
    position: relative;
    width: 40vw;
    height: 100vh;
}
.leftSection img {
    width: 100%;
    height: 100%;
    object-fit: cover

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 25vh;
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    flex-direction: column;
}


/* Content Container */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.content img {
    display: flex;
    width: auto;
    height: 12vh;
}
.content h1 {
    font-size: 6rem;
    color: white;
}


/* Credit Container */
.credit {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 96vh;
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
}
.credit p {
    color: white;
    font-size: 1.8rem;
}
.credit a {
    color: white;
}


/* rightSection Container */
.rightSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    height: 100vh;
}


/* topRight Container */
.topRight {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 60vw;
    height: 35vh;
    background-color: hsl(0, 0%, 95%);
}
.topRight h1 {
    font-size: 2rem;
    margin-left: 3rem;
    margin-top: auto;
}
.topRight h2 {
    font-size: 2rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
}


/* middleRight Container */
.middleRight {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 35vh;
}
.middleRight h1 {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    width: auto;
    height: 2vh;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
}


/* inputSection Container */
.inputSection {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(3, 30%);
    width: 100%;
    height: 100%;
}
.inputSection h2 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    margin-left: 3rem;
    width: 15vw;
    font-weight: 600;
}
.inputSection input {
    width: 20vw;
    height: 3.5vh;
    font-size: 2rem;
    margin-left: 3rem;
    padding-left: .5rem;
    border-radius: 0.5rem;
}
.inputSection input:invalid {
    outline: 5px solid red;
}
.inputSection input:focus {
    outline: 5px solid #81ABC5;
}


/* bottomRight container */
.bottomRight {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 30vh;
    background-color: hsl(0, 0%, 95%);
}
.bottomRight button {
    width: 20vw;
    height: 8vh;
    font-size: 2.4rem;
    font-weight: 600;
    margin-left: 3rem;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: #81ABC5;
    color: white;
}
.bottomRight p {
    font-size: 2rem;
    margin-left: 3rem;
    margin-top: 2rem;
}
.bottomRight a {
    font-weight: 600;
    text-decoration: none;
    color: #81ABC5;
}




/* For Mobile */
@media (max-width: 600px) {

body {
    display: flex;
    flex-direction: column;
}

/* leftSection container */
.leftSection {
    display: flex;
    width: 100vw;
    height: 40vh;
}

.rightSection {
    display: flex;
    flex-direction: column;

}

}